<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.sizzler.scan.exporter">
	<sql id="colums">
		ID, EXP_NAME, DESCRIPTION, PROPS, DS_ID, CTIME
	</sql>
	<resultMap type="hashMap" id="expRM">
		<result column="ID" property="id" javaType="long" />
		<result column="EXP_NAME" property="expName" javaType="string" />
		<result column="DESCRIPTION" property="description" javaType="string" />
		<result column="PROPS" property="props" javaType="string" />
		<result column="DS_ID" property="dsId" javaType="long" />
		<result column="CTIME" property="ctime" javaType="java.sql.Date" />
		<association property="dataSource" column="DS_ID" javaType="hashMap"
			fetchType="eager" select="com.ai.sizzler.scan.ds.selectById">
		</association>
	</resultMap>
	<insert id="insert" parameterType="com.ai.sizzler.domain.ExporterForm">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into scan_exporter (EXP_NAME, DESCRIPTION, PROPS,
		DS_ID, CTIME)
		values (#{expName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{props,jdbcType=VARCHAR},
		#{dsId,jdbcType=BIGINT}, now())
	</insert>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from scan_exporter
		where ID = #{id,jdbcType=BIGINT}
	</delete>
	<update id="update" parameterType="com.ai.sizzler.domain.ExporterForm">
		update scan_exporter
		<set>
			<if test="expName != null">
				EXP_NAME = #{expName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				DESCRIPTION = #{description,jdbcType=VARCHAR},
			</if>
			<if test="props != null">
				PROPS = #{props,jdbcType=VARCHAR},
			</if>
			<if test="dsId != null">
				DS_ID = #{dsId,jdbcType=BIGINT},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<select id="selectList" parameterType="hashMap" resultMap="expRM">
		select
		<include refid="colums" />
		from scan_exporter
		where 1=1
		<if test="expName!=null">
			and EXP_NAME=#{expName, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectById" parameterType="long" resultMap="expRM">
		select
		<include refid="colums" />
		from scan_exporter
		where ID=#{id, jdbcType=BIGINT}
	</select>

</mapper>